
@font-face {
    font-family: 'MinhaFonte';
    src: url('/fontes/TAN-NIMBUS.otf') format('opentype');
}

/*global*/

* { 
    font-family: 'Poppins';
    box-sizing: border-box;
}
body {
    background-color: #f5f3ef;
}

/*menu vertical*/

.containervertical {
    display: flex;
    flex-direction: column;  /* Isso garante que os itens dentro da containervertical fiquem empilhados verticalmente */
    height: 100vh;
}

.coluna-esquerda {
    width: 15%;
    height: 100%;
    background-color: #efb810;
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-vertical ol {
    margin-bottom: 30%;
}

.menu-vertical a {
    color: white;
    text-decoration: none;
    font-size: 100%;
    display: block;
    padding: 2%;
}

.menu-vertical a:hover {
    color:#efb810;
    background-color: #F5F5F5;
    border-radius: 4%;
    border-width: 0.5%;
    border: #F5F5F5;
}

/*perfil cadastrado*/

.parte1 {
    background-color: #fff;
    padding: 10%;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    height:10%;
}

.perfil-img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-container {
    display: flex;
    justify-content: flex-end;
}

/**/

.parte2 {
    background-color: #f5f3ef;  /* Cor de fundo semelhante ao fundo da página */
    padding: 20px;
    color: #000000;
    width: 85%;  /* A largura é menor que a da coluna esquerda */
    margin-left: 15%;  /* Para garantir que comece logo após o menu */
    margin-top: 20px;  /* Espaçamento superior para separar da parte1 */
}

.parte2 p {
    font-size: 1.2em;  /* Tamanho de fonte maior para destacar o conteúdo */
    line-height: 1.6;  /* Espaçamento entre as linhas */
}

/*GALERIA*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1600px;
}


.photo img {
    width: 115%;
    height: 105%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.photo img:hover {
    transform: scale(1.05);
}


